name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  VERSION: '1-ea'
  VERSION_AND_BUILD: '1-ea+${{ github.sha }}'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out sources'
        uses: actions/checkout@v2

      - name: 'Set up JDK'
        uses: actions/setup-java@v1
        with:
          java-version: 16-ea

      - name: 'Shorten version and build variable'
        run: |
          SHA7=$(echo "${{ github.sha }}" | cut -c1-7)
          VERSION_AND_BUILD=$VERSION+$SHA7
          echo "VERSION=$VERSION"
          echo "VERSION_AND_BUILD=$VERSION_AND_BUILD"
          echo "VERSION_AND_BUILD=$VERSION_AND_BUILD" >> ${GITHUB_ENV}

      - name: 'Initialize Bach'
        run: jshell https://bit.ly/bach-init

      - name: 'Build with Bach'
        run: .bach/bin/bach --guess --project-version ${{ env.VERSION_AND_BUILD }} --project-targets-java 9 build

      - name: 'Upload build artifacts'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.event.repository.name }}-build-${{ env.VERSION_AND_BUILD }}
          path: |
            .bach/workspace/logbook.md
            .bach/workspace/modules

      - name: 'Release early-access build ${{ env.VERSION_AND_BUILD }} tagged as ${{ env.VERSION }}'
        if: github.ref == 'refs/heads/main'
        uses: marvinpinto/action-automatic-releases@latest
        with:
          automatic_release_tag: ${{ env.VERSION }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          title: "Sawdust ${{ env.VERSION }}"
          files: .bach/workspace/modules/*.jar
